* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    text-align: center;
}

nav {
    height: 40px;
    display: flex;
    flex-direction: row-reverse;
}

.menu {
    margin-right: 10px;
    margin-top: 7px;
    margin-bottom: 5px;
    height: 20px;
    width: 20px;
}

#navScreen {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 90%;
}

.tagBox {
    width: 100%;
    background-color:lightgrey;
    color: white;
    text-align: left;
    letter-spacing: 1px;
    line-height: 120%;
    margin: 0px;
    display: table;
    font-family: 'Orbitron', sans-serif;
}

.introTag {
   font-size: 100%; 
   padding: 10%;
   display: table-cell;
   text-align: left;
   vertical-align: middle;
}

.tent {
    height: 100px;
    float: left;
    clear: both;
    margin-right: 5%;
}

.project {
    width: 100%;
}

.compScreen {
    width: 90%;
}

h2 {
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 5%;
    text-align: left;
    font-size: 80px;
    font-family:  'Orbitron', sans-serif;
    color: #FBAE17;
}

h3 {
    text-align: left;
    font-family:  'Orbitron', sans-seri;
    color: grey;
    margin-left: 5%;
    font-size: 130%;
}

.projectText {
    text-align: left;
    font-family:  'Orbitron', sans-seri;
    color: #FBAE17;
    margin-left: 5%;
    margin-right: 5%;
    letter-spacing: 1px;
    line-height: 120%;
}

.techLogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tech {
    width: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
}

.about {
    width: 100%;
    background-color: grey;
    padding-top: 10%;
}

footer {
    width: 100%;
}

/*phone*/
@media screen and (max-width: 450px) {

    #navScreen {
        height: 570px;
        background-image: url(https://lh3.googleusercontent.com/dp5Zy-ZhMy9C5oIOkoRAQHx8G6cQ8veLhpTbuX_G-Mm0OWn_7Ip5wuDMBpKO8_1qLlT-3Ui6THtRe19BVO1v2LtirtPpFLdDfZzPS7xTfPBfm7i41NmtbQqBusyeyarCVfqeV7F-PJB-89UU0444_YvLVdRQGwKZEQa8Tz8tjazetmBDwCMeoKGZ9frNipo12L7ENwzw9u0So2sqkECKeRvb0HBX1Pa8hq6FdXZOqKkONarg8lvwF40Jx96Cu7IrqZCkqHhRXhs9HiXfnFQ46vUzk7neTb-mFRPxjqqSy8ow4GonVRiT0H5MvZpU9TW2EANXP9vDsrwwY98z8i0LpFVCtqGKdCsHV9NPoPDcMze86sEzh66HleidPQI9e7ZJYmld_1XUHVptMry5c98gNxy-sknVqKuRj9AyNdIUzpVpab5O0bflf5F9_f4WcGwyt1s6yqvvT215IpdKgmARnZ3IW8DROXzmnx8K-vrvAY0mQ-Ms0lhS_ux_dfO6Ylx9V24rAeLsshCUKDzw3xV3qpmQTIcmc2fGVL9T4VQvqkITDFQaoXM6J-SsMd9hNjzuPK5StPuR5bDuuhfEm0TBPe5Ppy7smXNWTlLj1bxVvmDGXfT-mZa9u6GLjka-wOEQvbO_mrw8myBdNLtNVoW884TURINDT6ASJ3V6ik1qhfbWNJBehtycNwUBWOR_40Nof2mFI3McpeengadZ_GpSO73D=w876-h1396-no);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    
    .navLink {
        display: none;
    }



}










/*tablet*/
@media screen and (min-width: 451px) {

    
    
    }

@media screen and (min-width: 700px) {

    
    
}

@media screen and (min-width: 800px) {

    
        
}