* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    text-align: center;
}

nav {
    height: 40px;
    display: flex;
    flex-direction: row-reverse;
}

.menu {
    margin-right: 10px;
    margin-top: 7px;
    margin-bottom: 5px;
    height: 20px;
    width: 20px;
}

#navScreen {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 90%;
}

.hero {
    text-align: left;
    font-size: 100px;
    font-family:  'Orbitron', sans-seri;
    color: #FBAE17;
}

.tagBox {
    width: 95%;
    background-color:lightgrey;
    color: white;
    text-align: left;
    letter-spacing: 1px;
    line-height: 120%;
    margin-left: auto;
    margin-right: auto;
    display: table;
    font-family: 'Orbitron', sans-serif;
    border-radius: 10px;
}

.introTag {
   font-size: 100%; 
   padding: 10%;
   display: table-cell;
   text-align: left;
   vertical-align: middle;
}

.tent {
    height: 100px;
    float: left;
    clear: both;
    margin-right: 5%;
}

.project {
    width: 100%;
}

.compScreen {
    width: 90%;
}

h2 {
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 5%;
    text-align: left;
    font-size: 80px;
    font-family:  'Orbitron', sans-serif;
    color: #FBAE17;
}

h3 {
    text-align: left;
    font-family:  'Orbitron', sans-seri;
    color: grey;
    margin-left: 5%;
    font-size: 130%;
}

.projectText {
    text-align: left;
    font-family:  'Orbitron', sans-seri;
    color: #FBAE17;
    margin-left: 5%;
    margin-right: 5%;
    letter-spacing: 1px;
    line-height: 120%;
}

.techLogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tech {
    width: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
}

.about {
    width: 100%;
    background-color: grey;
    padding-top: 10%;
}

footer {
    width: 100%;
}

/*phone*/
@media screen and (max-width: 450px) {

    #navScreen {
        height: 570px;
        background-image: url();
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    
    .navLink {
        display: none;
    }



}










/*tablet*/
@media screen and (min-width: 451px) {

    
    
    }

@media screen and (min-width: 700px) {

    
    
}

@media screen and (min-width: 800px) {

    
        
}