* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    text-align: center;
}

nav {
    height: 40px;
    display: flex;
    flex-direction: row-reverse;
}

.menu {
    margin-right: 10px;
    margin-top: 7px;
    margin-bottom: 5px;
    height: 20px;
    width: 20px;
}

.menuDrop {
    height: 580px;
    width: 100%;
    background-color: white;
    color: white;
    font-family: 'Orbitron', sans-serif;
    margin: 0px;
}

.menuDropBG {
    height: 580px;
    width: 100%;
    background-color: white;
}

.tagBox {
    width: 95%;
    background-color:white;
    color: lightgrey;
    text-align: left;
    letter-spacing: 1px;
    line-height: 120%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2%;
    display: table;
    font-family: 'Orbitron', sans-serif;
    border-radius: 10px;
    font-weight: bold;
}

.introTag {
   font-size: 100%; 
   padding: 10%;
   display: table-cell;
   text-align: left;
   vertical-align: middle;
}

.project {
    width: 100%;
}

#projects {
    background-color: rgb(241, 241, 241);
    border-radius: 10px;
}

.compScreen {
    width: 90%;
}

.tabletScreen {
    width: 90%;
    margin-top: 15%;
}

h2 {
    padding-top: 10%;
    margin-left: 5%;
    text-align: left;
    font-size: 80px;
    font-family:  'Orbitron', sans-serif;
    color: #FBAE17;
}

h3 {
    text-align: left;
    font-family:  'Orbitron', sans-seri;
    color: grey;
    margin-left: 5%;
    font-size: 130%;
}

.projectText {
    text-align: left;
    font-family:  'Orbitron', sans-seri;
    color: #FBAE17;
    margin-left: 5%;
    margin-right: 5%;
    letter-spacing: 1px;
    line-height: 120%;
}

.techLogo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 30px;
}

.break {
    background-color: white;
    height: 40px;
    width: 100%;
    border-radius: 10px;
}

.tech {
    height: 90px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
}

.about {
    width: 100%;
    background-color: grey;
    padding-top: 10%;
}

.whatIDo {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding-left: 10%;
}

.whatIDoList {
    list-style: none;
    text-align: left;
    padding: 0px;
    color: #FBAE17;
    font-size: 16px;
    font-family: 'Orbitron', sans-seri;
    margin-left: 5%;
    margin-top: 0px;
}

.contact {
    background-color: rgb(241, 241, 241);
    border-radius: 10px;
}

.contactLogo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 40px;
}

.contactLogoImg {
    height: 40px;
}

footer {
    width: 100%;
    font-size: 30px;
    color: grey;
    font-family: 'Sacramento', cursive;
}

/*phone*//*phone*//*phone*//*phone*//*phone*//*phone*//*phone*//*phone*//*phone*//*phone*/
@media screen and (max-width: 450px) {

    #navScreen {
        height: 570px;
        background-image: url();
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    
    .navLink {
        display: none;
    }

    .aboutMeNum {
        display: block;
    }



}










/*tablet*//*tablet*//*tablet*//*tablet*//*tablet*//*tablet*//*tablet*//*tablet*//*tablet*//*tablet*/
@media screen and (min-width: 451px) {

    
    
    }

@media screen and (min-width: 700px) {

    
    
}

@media screen and (min-width: 800px) {

    
        
}